body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

.app {
  max-width: 350px;
  margin: auto;
  padding: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00c6ff;
  color: white;
  cursor: pointer;
}

.weather-box img {
  width: 100px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}